.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
    padding: 5px;
    .headerContent{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
        margin: 5px;
        padding: 2px;
        width: 95%;

    }
    .contentBody,.header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        margin: 5px;
        padding: 2px;
        width: 95%;
    }
    .contentBody,.messages{
        height: 85%;
    }
    .messages{
        border-radius: 10px;
        margin: 5px;
        padding: 2px;
        width: 95%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        /* Style for the custom scrollbar */
        &::-webkit-scrollbar {
            width: 6px; 
        }

        &::-webkit-scrollbar-thumb {
            background-color: #888888;
            border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: #555;
        }

        &::-webkit-scrollbar-track {
            background-color: #eeeeee00; 
            border-radius: 8px; 
        }

        &::-webkit-scrollbar-track:hover {
            background-color: #cccccc00; 
        }
    }
    .rightMsg{
        align-self: flex-end;
        .messageUser{
            display: none;
        }
    }
    .messageItems{ 
        width:fit-content;
        margin: 5px;
        
        .messageUser{
            font-size: 12px;
            padding: 2px 6px;
            text-align: left;
        }
        .messageContent{
            border-radius: 10px;
            
            padding: 2px 6px; 
            text-align: left;
            .deleteBtn{
                margin: 2px 7px;
                border-radius: 50px;
            }
            .deleteBtn:hover{
                background-color: rgba(7, 38, 79, 0.445);
            }
        }

    }
    
    .input-form { 
        margin: 4px;
        width: 95%;
      }
      
      .input-container {
        position: relative;
        width: 100%;
      }
      
      .input-field {
        width: 100%;
        padding: 15px 5px;
        border: 1px solid #ccc;
        background-color: transparent;
        border-radius: 10px;
        font-size: 16px;
      }
      
      
      .submit-button {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgb(51 65 85);
        color: #fff;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        padding: 1px 10px;
        margin: 2px;
      }
      
      .submit-button:hover {
        background-color: rgba(51, 65, 85, 0.849);
      }
      
      
    
    
}